@import 'normalize.css';

body {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1200px;

  --blue-color: #00acdc;
}

header {
  padding-right: 50px;
  padding-left: 50px;
}

.heder-logo {
  display: inline-block;
  padding: 10px 0;
}

img {
  display: block;
}

nav {
  float: right;
  padding: 20px 0;
}

ul > :nth-child(n + 2) {
  padding-left: 16px;
}

li {
  display: inline-block;
}

.nav-link {
  padding-top: 22px;
  padding-bottom: 23px;
  color: rgb(0, 0, 0);
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: none;
}

.is-active::after {
  content: '';
  display: block;
  min-width: 36px;
  min-height: 4px;
  position: relative;
  bottom: -20px;
  background-color: var(--blue-color);
  border-radius: 8px;
}

a:hover {
  color: var(--blue-color);
}

a[class*='is-act'] {
  color: var(--blue-color);
}
