body {
  margin: 0;

  --turquoise: #00acdc;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}

.header-logo-link {
  padding: 10px 0;
}

.header-img-logo {
  display: block;
}

.header-nav-list {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.header-nav-list > :nth-child(n + 2) {
  margin-left: 20px;
}

.header-nav-item {
  list-style-type: none;
}

.header-nav-link {
  height: 48px;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    'Segoe UI',
    Arial,
    sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.is-active::after {
  content: '';
  display: block;
  width: 36px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--turquoise);
  border-radius: 8px;
}

.header-nav-link[class*='is-act'] {
  color: var(--turquoise);
}

.header-nav-link:hover {
  color: var(--turquoise);
}
